/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



* {
  box-sizing: border-box;
}

body {
  overflow: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  height: 10%;
  display: flex;
  flex-direction: column;
}

header>#headerTop {
  background-color: #1A1A1A;

}

#parteLogo {
  display: flex;
  align-items: center;
  font-family: speed;
  font-size: xx-large;
  height: fit-content;
  width: 33%;
}

#parteLogo h3 {
  margin: 0;
  margin-top: 10px;
}

fieldset {
  width: max-content;
  background-color: #1A1A1A;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  position: relative;
  

}

.back {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #10191B;

}

.backTodo {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;

}

#backTop {
  width: 100%;
  height: 50%;
  background-color: #10191B;
}

#backBottom {
  width: 100%;
  height: 50%;
  background-color: #10191B;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

#todo {
  width: 100%;
  height: 100%;
  position: relative;
}

#right {
  width: 100%;
  height: 100%;
  position: relative;
}



#rightTop {

  width: 100%;
  height: 50%;
  background-color: white;
  border-top-left-radius: 100px;
}

#rightBottom {

  width: 100%;
  height: 50%;
  background-color: white;
}

#left {
  width: 100%;
  height: 100%;
  position: relative;
}

#leftTop {

  width: 100%;
  height: 50%;
  background-color: white;
  border-top-right-radius: 100px;
}

#leftBottom {

  width: 100%;
  height: 50%;
  background-color: white;
}


#botones{
  display: flex;
  justify-content: center;
}

#divHeaderBottom {
  display: flex;
}

.simbolito {
  width: 40px;
  height: 40px;
  margin-left: 40px;
  background-color: #1A1A1A;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.simbolito:hover {
  transition: 0.3s;
  background-color: #E05840;
}

#carrito{
  width: 30px;
  height: 30px;
}
#fav{
  width: 30px;
  height: 30px;
}
#user{
  width: 30px;
  height: 30px;
}


#headerTop {
  width: 100%;
  padding: 40px;
  padding-top: 20px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


#logo {
  height: 100px;
  width: 100px;
}

#headerBottom {
  margin: 0;
  display: flex;
  justify-content: center;
  margin-top: 0;
  border: 0;
}

header input {
  margin-left: 20px;
  width: 100%;
  border: 0;
  background-color: #F0F0F0;
}

#simbolitos {
  width: 33%;
  display: flex;
  justify-content: end;
}

#lupa {
  width: 15px;
  height: 15px;
}

#lupa:hover {
  transform: scale(1.2);
}

#btnLupa {
  width: min-content;
  margin: 0px;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 34px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #E05840;
  border-style: solid;
  background-color: #1A1A1A;

}

#btnLupa:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
  background-color: #E05840;

}

#buscador {
  padding: 0px;
  margin: 0px;
  border-style: solid;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  width: 33%;
  align-items: center;
  background-color: #F0F0F0;
  border: 3px solid #E05840;
  font-family: Montserrat;
}

fieldset button {
  margin-right: 20px;
  margin-left: 20px;
  width: 100px;
  height: 30px;
  border-radius: 100px;
  border: 2px #E05840;
  background-color: white;
  font-family: Montserrat;
font-weight: 500;

  border-style: solid;
}

fieldset button:hover{
  background-color: #E05840;
  color: white;
}

#centro {
  display: flex;
  margin: 50px;
}

#divNav {
  width: 20%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;


}

#divList {
  width: 400px;
  display: flex;
  align-items: center;
}

#divSection {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

}

section::-webkit-scrollbar {
  display: none;
}

section article .info h4 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: large;
}

section article .info p {
  font-family: Montserrat;
  font-size: medium;
}

section article.oferta .info #precioIva #precio {
  color: #F09B05;
}

section article .info #precioIva #precio {
  color: black;
}

section article .info #precioIva #iva {
  color: gray;
  font-size: small;
  margin-left: 5px;
}

section {

  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-y: visible;
  overflow-x: hidden;
  margin-top: 10px;
  padding-bottom: 20px;
}

main {
  display: flex;
  justify-content: space-around;

}

body::-webkit-scrollbar {
  display: none;
}

article {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#imgArticle {
  width: 200px;
}


article h4 {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-weight: 500;

}

p {
  font-family: Calibri;
  margin: 0;
}

#precioIva {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

section>article {
  border-style: solid;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  height: 350px;
  margin-top: 20px;
  position: relative;

}

article>img {
  margin-bottom: 10px;

}

#oferta {
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;


  background-color: #F09B05;
  width: fit-content;
  height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: center;
  color: white;

}

article.oferta {
  border-color: #F09B05;
}


nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  height: 600px;
  width: 80%;
  border: #1A1A1A solid 2px;
  border-radius: 50px;


}

nav article h4 {
  font-family: Montserrat;
}

nav::-webkit-scrollbar {
  display: none;
}



nav article {

  margin-right: 80px;
  margin-left: 80px;
  height: 200px;
  width: 200px;
  border: #1A1A1A solid 2px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

nav article:last-child {
  border-bottom: 0;
}

nav article:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}

nav article {
  transform: scale(1);
  transition: transform 0.3s;
}

nav article img {
  width: 100px;
  height: 100px;
}

section article:hover {
  transform: scale(1.08);
  transition: transform 0.3s;
}

section article {
  transform: scale(1);
  transition: transform 0.3s;
}





#filtro {
  height: fit-content;
  width: 80%;
  font-family: Montserrat;
}



.filter-container {
  width: fit-content;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.filter-toggle {
  background-color: white;
  border: none;
  padding: 10px;
  width: 150px;
  height: fit-content;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;

  border-radius: 100px;
  border: 2px #E05840 solid;

  font-family: Montserrat;
font-weight: 500;
}
.filter-toggle:hover{
  background-color: #E05840;
  color: white;
}

#filtro>img {
  width: 40px;
}

.filter-section {
  margin-bottom: 20px;
}

.filter-section h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.switch {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.switch input {
  margin-right: 10px;
}

.search-input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.brand-list {
  max-height: 150px;
  overflow-y: auto;
}

.brand-list label {
  display: block;
  margin-bottom: 5px;
}

.size-button {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  margin: 5px;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
}

.selectedTalla {
  background-color: #ddd;
  /* Color de fondo al estar seleccionado */
  color: #000;
  /* Color de texto al estar seleccionado */
  border-color: #333;
  /* Borde más oscuro para distinguir */
}

.size-container button:hover {
  background-color: #e0e0e0;
}

.color-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  /* Sin borde por defecto */
  transition: border 0.3s, transform 0.3s;
  /* Suaviza el borde y el cambio de tamaño */
}

.selected {
  border: 2px solid black;
  /* Borde visible al estar seleccionado */
  transform: scale(1.2);
  /* Aumenta el tamaño al 120% */
}


.hidden {
  display: none;
}

.black {
  background-color: black;
  border: none;
}

.white {
  background-color: white;
  border: 2px #ddd solid;

}

.red {
  background-color: red;
  border: none;

}

.blue {
  background-color: blue;
  border: none;

}

.yellow {
  background-color: yellow;
  border: none;

}

.orange {
  background-color: orange;
  border: none;

}

.green {
  background-color: green;
  border: none;

}

.pink {
  background-color: pink;
  border: none;

}

.brown {
  background-color: brown;
  border: none;
}

.gray {
  background-color: gray;
  border: none;
}

.silver {
  background-color: silver;
  border: none;
}

.beige {
  background-color: beige;
  border: none;
}

body {
  margin: 0px;
}

.footer_a {
  background-color: #10191B;
  height: 30px;
  width: 30px;
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px;

}

.footer_a:hover {
  background-color: #E05840 ;
}

#footerIconos {
  display: flex;
  justify-content: center;
}

#footer {
  background-color: #10191B;
}

#facebookImg {
  width: 30px;
  height: 30px;

}

#instagramImg {
  width: 20px;
  height: 20px;

}

#telegramImg {
  width: 20px;
  height: 20px;
  margin-right: 2px;

}

#footerBloquesIzquierda {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-right-style: solid;
  border-right-color: aliceblue;
  margin-left: 300px;

}

#footerBloques {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
}

#footerBloqueDereita {
  margin: auto;
}

footer {
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.payment-icons {
  width: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  row-gap: 20px;
}

#pagosSeguros {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footerMastercard {
  width: 48px;
  height: 30px;
  display: flex;
  justify-self: center;
}

#footerVisa {
  width: 48px;
  height: 30px;
  display: flex;
  justify-self: center;
}

#footerPaypal {
  width: 48px;
  height: 35px;
  display: flex;
  justify-self: center;
}

#footerApplepay {
  width: 48px;
  height: 35px;
  display: flex;
  justify-self: center;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 20px auto 0;
}

.languages {
  flex: 1;
}

.languages h4 {
  margin-bottom: 10px;
}

.language-icons {
  display: flex;
  gap: 10px;
}

.language-icons img {
  width: 30px;
}

.logo-section {
  text-align: center;
}

.logo-section img {
  width: 150px;
  margin-top: 10px;
}

@font-face {
  font-family: speed;
  src: url(facon/Facon.ttf);
}



/* Estilos generales para los modales */
.modal {
  display: none; /* Oculto por defecto */
  position: absolute;
  top: 50px; /* Ajusta esta distancia para colocar el modal justo debajo del icono */
  right: 100px;
  transform: translateX(-50%);
  width: 250px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 5px;
}

/* Estilo para el triángulo debajo del modal */
.modal::before {
  content: "";
  position: absolute;
  top: -10px; /* Ajusta para colocar el triángulo en el borde del modal */
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

/* Especificación de posición para cada modal */
#carritoModal {
  top: 60px;
}

#favoritosModal {
  top: 60px;
}

#usuarioModal {
  top: 60px;
}

/* Efecto para mostrar el modal solo al pasar el ratón */


.modal-content h2 {
  margin-top: 0;
}
